DATABASE_URL = 'sqlite:////tmp/mattermost.db'
tokens = {
    'authorize': '123',
    'door': '123',
    'revoke': '123',
    'cammiechat': '123',
    'quote': '123'
}
mm_driver_token = 'abcde'
server_url='mattermost.example.com'
doorkeeper_channel_id='<get from mattermost>'
sysadmin_channel_id='8qx8egg6dp86pdihcir45bxg5o'
doorkeeper_webhook='https://mattermost.zeus.gent/hooks/REDACTED'
lockbot_url = 'https://kelder.zeus.ugent.be/lockbot'
up_key='UPKEY'
down_key='DOWNKEY'
kelderapi_doorkeeper_key='KELDERAPI'
kelderapi_doorkeeper_url='https://kelder.zeus.ugent.be/kelderapi/doorkeeper'
